.react-photo-album {
  display: flex;

  &, & * {
    box-sizing: border-box;
  }

  &--track {
    display: flex;
    align-items: flex-start;
  }

  &--photo {
    position: relative;
    padding: calc(var(--react-photo-album--padding) * 1px);
  }

  &--image {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: var(--react-photo-album--photo-width) / var(--react-photo-album--photo-height);
  }

  &--button {
    cursor: pointer;
    border: initial;
    background: initial;
  }
}
