.gallery :global(.react-photo-album) {
  --position-indicator-width: 4px;
  --position-indicator-offset: calc(
    (var(--react-photo-album--spacing, 0) * 1px + var(--position-indicator-width)) / -2
  );
}

.overlay,
.gallery :global(.react-photo-album--photo) {
  cursor: grab;
  position: relative;
  background: #fff;
  border-radius: var(--position-indicator-width);
  box-shadow:
    rgb(0 0 0 / 20%) 0 3px 3px -2px,
    rgb(0 0 0 / 14%) 0 3px 4px 0,
    rgb(0 0 0 / 12%) 0 1px 8px 0;
}

.overlay {
  cursor: grabbing;
}

.overlay > img {
  display: block;
}

.gallery :global(.react-photo-album--image) {
  user-select: none;
  touch-action: manipulation;
  -webkit-touch-callout: none;
}

.gallery :global(.react-photo-album--photo)[data-active="true"] {
  opacity: 0.3;
}

.gallery :global(.react-photo-album--photo)[data-position="after"]:after,
.gallery :global(.react-photo-album--photo)[data-position="before"]:before {
  content: "";
  position: absolute;
  background-color: #2196f3;
  border-radius: var(--position-indicator-width);
}

.gallery :global(.react-photo-album--rows) :global(.react-photo-album--photo)[data-position="after"]:after,
.gallery :global(.react-photo-album--rows) :global(.react-photo-album--photo)[data-position="before"]:before {
  top: 0;
  bottom: 0;
  width: var(--position-indicator-width);
}

.gallery :global(.react-photo-album--rows) :global(.react-photo-album--photo)[data-position="after"]:after {
  right: var(--position-indicator-offset);
}

.gallery :global(.react-photo-album--rows) :global(.react-photo-album--photo)[data-position="before"]:before {
  left: var(--position-indicator-offset);
}

.gallery :global(.react-photo-album--columns) :global(.react-photo-album--photo)[data-position="after"]:after,
.gallery :global(.react-photo-album--masonry) :global(.react-photo-album--photo)[data-position="after"]:after,
.gallery :global(.react-photo-album--columns) :global(.react-photo-album--photo)[data-position="before"]:before,
.gallery :global(.react-photo-album--masonry) :global(.react-photo-album--photo)[data-position="before"]:before {
  left: 0;
  right: 0;
  height: var(--position-indicator-width);
}

.gallery :global(.react-photo-album--columns) :global(.react-photo-album--photo)[data-position="after"]:after,
.gallery :global(.react-photo-album--masonry) :global(.react-photo-album--photo)[data-position="after"]:after {
  bottom: var(--position-indicator-offset);
}

.gallery :global(.react-photo-album--columns) :global(.react-photo-album--photo)[data-position="before"]:before,
.gallery :global(.react-photo-album--masonry) :global(.react-photo-album--photo)[data-position="before"]:before {
  top: var(--position-indicator-offset);
}
